.span {
    width: 343px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}

.circle {
    height: 0px;
    transform: rotate(270deg);
}

// .education__inf {
//     border: 1px solid #000;
//     right: 101px;
//     position: relative;
// }
.education {
    height: 679px;
}