.usd {
    height: 270px;
    width: 270px;
    left: 285px;
    top: 3203px;
    border-radius: 0px;
    border: 4px;
    border-color: black;
    outline: 1px solid #666;
}

.usd__img {
    padding: 30px;
}

.usd__title {
    width: 48px;
    height: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 20px 0px 15px;
}

.usd__texte {
    width: 211px;
    height: 94px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}